
.aboutuscontant h4 {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 500; 
    font-family: "lato";
    @media screen and (max-width: 767px) { 
        padding-bottom: 10px;
}
}

.aboutusbuttan  {
    margin: 50px 0px;
    
}
.aboutusbuttan a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border: 2px solid #9f9696;
    padding: 14px 48px;
    border-radius: 0;
}
.aboutusrightimg h5 {
    padding-top: 10px;
    font-size: 18px;
    color: #000000;
}







